/* ------------------------- Helpers ------------------------- */
.centerlayer {
	margin-left: 0;
	width: 100%;
}

.content {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 $gutters;
}

.row {
	display: flex;
	justify-content: space-between;
	margin-right: -#{$gutters};
	margin-left: -#{$gutters};
	.col-mm {
		padding-left: $gutters;
		padding-right: $gutters;
	}
}

.content::after,
.clearfix::after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.d-flex {
	display: flex;
}

.d-inlineb {
	font-size: 0;
	&>li {
		display: inline-block;
		vertical-align: top;
		font-size: 1rem;
	}
}
.mr-auto {
	margin-right: auto
}
.text-overflow {
	display: block;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	white-space: nowrap;
}
/* ------------------------- \Helpers ------------------------- */

/* ------------------------- Forms ------------------------- */
input,
button,
textarea {
	border: none;
	box-sizing: border-box;
}

input[type='text'],
button[type='submit'],
textarea {	
	width: 100%;
	height: 40px;
	background: #fff;
	.modal-window & {
		padding-left: 15px;
		padding-right: 15px;		
		margin-bottom: 15px;
		width: 90%;
		height: 40px;
	}
}

button[type='submit'] {
	.modal-window & {
		text-transform: uppercase;
		color: $colorOrang;		
	}
	&:hover {
		opacity: 0.8;
	}	
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::placeholder,
textarea::placeholder {
	font-size: 12px;
	color: #656d78;
}

input:focus,
textarea:focus {
	opacity: 0.8;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
}

input:required:valid,
textarea:required:valid {
}
/* ------------------------- \Forms ------------------------- */

/* ------------------------- Modals ------------------------- */
.modal {
	&-open {
		background: transparent;
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
	&-bg {
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		display: none;
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
	}
	&-close {
		position: absolute;
		top: 2px;
		right: 4px;
		color: #fff;
		cursor: pointer;
		line-height: 1;
	}
	&-window {
		position: fixed;
		z-index: 1100;
		top: 50%;
		left: 50%;
		display: none;
		padding: 40px 0 20px;
		width: 300px;
		background: $colorOrang;
		text-align: center;
		transform: translate(-50%, -50%);
	}
}
/* ------------------------- \Modals ------------------------- */