@import 'variables';
@import 'mixins';

@import 'reset.min';
@import 'fonts';
@import 'general';
@import 'buttons';

body {
	font: 16px/1.5 'Arial', serif;
	color: $colorMain;
}
h2 {
	font-size: rem(44);
	font-family: 'Arial', serif;
	text-align: center;
	text-transform: uppercase;
}
h3 {

}
