- var title = 'Шаблон sass+pug'
- var menuItem = ["Главная", "Портфолио", "О нас", "Контакты"]

- 
	var itemsPreview = [{
	img: "prw1.png", 
	title: "Sustainable return on investment tool ", 
	txt: "Tacoma <br> Open for submission"}, 
	{img: "prw2.png", 
	title: "Smart Cityspace - maximising resources", 
	txt: "Sun cuga <br>Close for submission"},
	{img: "prw3.png", 
	title: "Traffic Congestion early warning system", 
	txt: "Alborg <br>Close for submission"}
	]