extends modules/main

prepend variables
	-var innerPage = true

block content
	p.
		Lorem ipsum dolor <span>ff</span>sit amet, consectetur adipisicing elit. Eos, quidem? Aspernatur porro consequuntur placeat enim ullam obcaecati, perferendis officia laborum quod delectus, et cupiditate, iusto minima voluptas rerum possimus eligendi.
	| Контент
	div Описание2
	p Звоните потелефону #[a.myphone(href="tel://123") 123456789]
	a: img(src="img/myimg.png" alt="")
	svg
		rect(width="100%" height="100%")/
	br/
	+name("name1")

	+new("Новость без текста")
	+new("Новость с текстом")
		p Загловок
		p Текст новости

	+listlinks("Ссылка",2,3,4)


	div
		|
		|
		a(href="#") ссылка
		|
		|
		a(href="#") 1


	button.modal-open модальное окно

	footer
		+menu1(linkItem)
						