extends modules/main

prepend variables
	-var innerPage = true

block content
	p.
		Новый
	| Контент
	p Звоните потелефону #[a.myphone(href="tel://123") 123456789]
	a: img(src="img/myimg.png" alt="")
	br/

	+new("Новость без текста")
	+new("Новость с текстом")
		p Загловок
		p Текст новости

	+listlinks("Ссылка",2,3,4)


	div
		|
		|
		a(href="#") ссылка


	button.modal-open модальное окно						